.main{
  max-width: 1220px;
  margin: 0 auto;
}

.container {
  margin: 0;
}

.title{
  margin: 40px auto ;
}

.menu{
  height: 150vh;
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 100px;
}

.menu__item{
  background-color: var(--success-accent-color);
  text-align: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.menu__item:last-child{
  margin-bottom: 0;
}